<div class="blue-bar"></div>
<div class="logo-conatiner">
    <img src="/assets/logo.png" alt="Universidade Federal do Ceará" class="logo">
</div>
<div class="gray-line"></div>
<nav class="navbar">
    <div class="navbar-nav">
        <a href="/" class="active">Início</a>
        <a href="/tcc">TCC</a>
        <a href="/ru">RU</a>
        <a href="/bolsas">Bolsas</a>
    </div>
    <button class="btn" id="openModalButtonPergunta">Fazer uma pergunta</button>
</nav>
