/* Card - Perguntas */
.card-pergunta {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    padding: 20px;
    cursor: pointer;
    margin: 20px auto;
    border-radius: 10px;
    background-color: var(--white);
    border: 1px solid var(--border-color);
}

.card-pergunta .titulo {
    color: var(--blue-primary);
    font-size: 24px;
    font-weight: 600;
}

.card-pergunta .pergunta {
    font-size: 14px;
    color: var(--black);
    width: 100%;
}

.card-pergunta .detalhes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-pergunta .detalhes .categoria {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    width: 81px;
    padding: 5px 20px;
    font-size: 12px;
    text-align: center;
    border-radius: 12.5px;
    text-decoration: none;
    background-color: var(--blue-primary);
}

.card-pergunta .detalhes a.comentarios {
    font-size: 14px;
    color: var(--black);
    text-decoration: none;
}

.card-pergunta .detalhes a.comentarios:hover {
    text-decoration: underline;
    color: var(--blue-light-text);
}

/* Dialog - Pergunta */
#dialogPergunta {
    max-height: 632px;
}

#dialogPergunta #content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#dialogPergunta #content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dialogPergunta #content header h1 {
    color: var(--blue-primary);
}

#dialogPergunta #content header #fechar {
    cursor: pointer;
    font-size: 24px;
    border: none;
    outline: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
}

#dialogPergunta #content #rank-votos select {
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #222222;
}

#dialogPergunta #content .respostas {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#dialogPergunta #content .resposta-container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#dialogPergunta #content .resposta-container .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#dialogPergunta #content .resposta-container .header .user-nome {
    font-size: 14px;
    font-weight: 700;
}

#dialogPergunta #content .resposta-container .header .user-curso {
    font-size: 12px;
    font-weight: 400;
}

#dialogPergunta #content .resposta-container .resposta {
    font-size: 14px;
    font-weight: 400;
    padding-left: 55px;
}

#dialogPergunta #content .resposta-container .votos {
    margin-top: 12px;
    padding-left: 55px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#dialogPergunta .resposta-container .votos .likes,
#dialogPergunta .resposta-container .votos .deslikes {
    display: flex;
    flex-direction: row;
    align-items: fe;
    gap: 5px;
}

#dialogPergunta .resposta-container .votos img {
    cursor: pointer;
}

#dialogPergunta #content footer {
    display: flex;
    justify-content: flex-start;
}

#dialogPergunta #content footer #adicionarResposta {
    cursor: pointer;
    width: 178px;
    height: 37px;
    padding: 5px;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    color: var(--white);
    background-color: var(--blue-button);
}