#pergunta-modal,
#RespostaModal {
    background-color: #F0F0F0;
    padding: 30px;
    border-style: none;
    width: 70%;
    overflow: hidden;
}

#pergunta-modal {
    max-height: 400px;
}

#RespostaModal {
    max-height: 350px;
}

#pergunta-modal .modal-content,
#RespostaModal .modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#pergunta-modal .modal-header,
#RespostaModal .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

#pergunta-modal h3,
#RespostaModal h3 {
    color: #1C3A84;
    font-size: 24px;
}

#pergunta-modal #closeModalButton,
#RespostaModal #closeModalButtonResposta {
    cursor: pointer;
    font-size: 24px;
    border: none;
    outline: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
}

.user-infor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-infor img {
    display: block;
}

.user-nome {
    font-size: 14px;
    font-weight: 700;
}

.user-curso {
    font-size: 12px;
    font-weight: 400;
    color: #222222;
}

.box {
    width: 100%;
    height: 121px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.campo-resposta {
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
}

.box input,
.box .campo-descricao {
    background-color: #F0F0F0;
}

.box .campo-titulo {
    border: none;
    border-bottom: 1px solid #222222;
    width: 100%;
    height: 50px;
    padding: 5px;
}

.box .form-infor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box textarea {
    border: none;
    padding: 5px;
}

.box .campo-descricao {
    width: 100%;
    height: 50px;
    padding: 5px;
}

#categoria {
    cursor: pointer;
    margin-top: 16px;
    padding: 8px;
    border-radius: 4px;
    border: 1px;
    border-style: solid;
}

.buttons-finais {
    margin-top: 16px;
}

.button-publicar {
    cursor: pointer;
    color: #fff;
    background-color: #214CCE;
    padding: 8px;
    border-radius: 8px;
    border-style: solid;
}

.button-publicar:hover {
    background-color: #1C3A84;
}

.button-cancelar {
    cursor: pointer;
    background: none;
    color: #1C3A84;
    border: none;
}

.button-cancelar:hover {
    color: #000000;
}