/* Sem Pergunta/Resposta */

#sem-pergunta,
#sem-resposta {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 40px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

#sem-resposta {
    height: 15vh;
    padding: 0;
}

#sem-pergunta p,
#sem-resposta p {
    font-size: 1.5rem;
    text-align: center;
}

/* Página - Perguntas */

#perguntas-container {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

#perguntas-container .card-pergunta {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--white);
    border: 1px solid var(--border-color);
}

#perguntas-container .card-pergunta .titulo {
    color: var(--blue-primary);
    font-size: 24px;
    font-weight: 600;
}

#perguntas-container .card-pergunta .pergunta {
    font-size: 14px;
    color: var(--black);
    width: 100%;
}

#perguntas-container .card-pergunta .detalhes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#perguntas-container .card-pergunta .detalhes .categoria {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    width: auto;
    padding: 5px 20px;
    font-size: 12px;
    text-align: center;
    border-radius: 12.5px;
    text-decoration: none;
    background-color: var(--blue-primary);
}

#perguntas-container .card-pergunta .detalhes a.comentarios {
    font-size: 14px;
    color: var(--black);
    text-decoration: none;
}

#perguntas-container .card-pergunta .detalhes a.comentarios:hover {
    text-decoration: underline;
    color: var(--blue-light-text);
}

/* Página - Pergunta */

#pergunta-container #content {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

#pergunta-container #content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pergunta-container #content header h1 {
    font-size: 36px;
    color: var(--blue-primary);
}

#pergunta-container #content #rank-votos select {
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #222222;
}

#pergunta-container #content .respostas {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #f4f4f4;
    padding: 40px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

#pergunta-container #content .resposta-container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#pergunta-container #content .resposta-container .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#pergunta-container #content .resposta-container .header .user-nome {
    font-size: 14px;
    font-weight: 700;
}

#pergunta-container #content .resposta-container .header .user-curso {
    font-size: 12px;
    font-weight: 400;
}

#pergunta-container #content .resposta-container .resposta {
    font-size: 14px;
    font-weight: 400;
    padding-left: 55px;
}

#pergunta-container #content .resposta-container .votos {
    margin-top: 12px;
    padding-left: 55px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#pergunta-container .resposta-container .votos .likes,
#pergunta-container .resposta-container .votos .deslikes {
    display: flex;
    flex-direction: row;
    align-items: fe;
    gap: 5px;
}

#pergunta-container .resposta-container .votos img {
    cursor: pointer;
}

#pergunta-container #content footer {
    display: flex;
    justify-content: flex-start;
}

#pergunta-container #content footer #adicionarResposta {
    cursor: pointer;
    width: 178px;
    height: 37px;
    padding: 5px;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    color: var(--white);
    background-color: var(--blue-button);
}