:root {
    --border-color: #D9D9D9;
    --blue-primary: #1C3A84;
    --blue-light-text: #0000FF;
    --blue-button: #214CCE;
    --white: #FFFFFF;
    --black: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

main {
    padding: 40px;
}

/* Dialog - Geral */
dialog {
    margin: auto;
    border: none;
    border-radius: 10px;
    width: 70%;
    padding: 40px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}