<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntas sobre Restaurante Universitário</title>
    <link rel="stylesheet" href="/css/stylePergunta.css">
    <link rel="stylesheet" href="/css/styleNavBar.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <main>
        <h1>Perguntas sobre Restaurante Universitário</h1>
        <section>
            <p>Aqui estão listadas as perguntas sobre o Restaurante Universitário.</p>
            <!-- Adicione conteúdo específico para o RU aqui -->
        </section>
    </main>
</body>
</html>
