
    <div class="container-FazerPergunta">
        <!-- <button id="openModalButtonResposta">Responder</button> -->
        <dialog id="RespostaModal">
            <section class="modal-content">
                <div class="modal-header">
                    <h3>Responder a pergunta</h3>
                    <button class="close-buttons" id="closeModalButtonResposta">X</button>
                </div>
                <div class="user-infor">
                    <img src="/assets/user.svg" width="50" height="60">
                    <div>
                        <p class="user-nome">Thiago Iashiley</p>
                        <p class="user-curso">Engenharia de computaçao</p>    
                    </div>
                </div>
                <form class="form-Responder" id="formPergunta" method="post" action="/rotaResposta">
                    <div class="box">
                      
                        <textarea class="campo-resposta obrigatorio" name="resposta" placeholder="Descrição(opcional)" required></textarea>  
                       
                    </div>
                    <div class="buttons-finais">
                        <button type="submit" class="close-buttons button-publicar">Publicar resposta</button>
                        <button type="button" class="close-buttons button-cancelar">Cancelar</button>    
                    </div>
                </form>

            </section>
        </dialog>
    </div>
