<div class="container-FazerPergunta">
    <dialog id="PerguntaModal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Fazer uma pergunta</h3>
                <button class="close-buttons" id="closeModalButton">X</button>
            </div>
            <div class="user-infor">
                <img src="/assets/user.svg" width="50" height="60">
                <div>
                    <p class="user-nome">Thiago Iashiley</p>
                    <p class="user-curso">Engenharia de computaçao</p>
                </div>
            </div>
            <form class="form-FazerPergunta" id="formPergunta" method="post" action="/perguntar">
                <div class="box">
                    <input type="text" name="nome" value="Isaac" hidden>
                    <input type="text" name="email" value="isaac@teste.com" hidden>

                    <div class="form-infor">
                        <input class="campo-titulo obrigatorio" type="text" placeholder="Título" name="pergunta" required>
                    </div>
                    <div class="form-infor">
                        <textarea class="campo-descricao" name="descricao" placeholder="Descrição(opcional)"></textarea>
                    </div>
                </div>
                <select id="categoria" name="categoria">
                    <option value="legenda">Selecione uma categoria</option>
                    <option value="tcc">TCC</option>
                    <option value="ru">RU</option>
                    <option value="bolsas">Bolsas</option>
                </select>
                <div class="buttons-finais">
                    <button type="submit" class="button-publicar">Publicar pergunta</button>
                    <button type="button" class="close-buttons button-cancelar">Cancelar</button>
                </div>
            </form>

        </div>
    </dialog>
</div>