<div class="container-FazerPergunta">
    <dialog id="RespostaModal">
        <section class="modal-content">
            <div class="modal-header">
                <h3>Responder a pergunta</h3>
                <button class="close-buttons" id="closeModalButtonResposta">X</button>
            </div>
            <form class="form-Responder" id="formPergunta" onsubmit="postResposta(event)">
                <div class="box">
                    <textarea id="resposta" class="campo-resposta obrigatorio" name="resposta" placeholder="Descrição" required></textarea>
                </div>

                <div class="buttons-finais">
                    <button type="submit" class="button-publicar">Publicar resposta</button>
                    <button type="button" class="close-buttons button-cancelar">Cancelar</button>
                </div>
            </form>
        </section>
    </dialog>
</div>