<dialog id="dialogPergunta">
    <section>
        <header>
            <h1>Quem tem direito a isenção do RU</h1>
            <button id="fechar">X</button>
        </header>
        <article class="comentario">
            <h2>Fulano da Silva</h2>
            <p>Lorem ipsum dolor sit amet...</p>
        </article>
        <article class="comentario">
            <h2>Sicrano de Sousa</h2>
            <p>Lorem ipsum dolor sit amet...</p>
        </article>
        <!-- Adicione mais artigos aqui para outros comentários -->
        <footer>
            <button id="adicionarResposta">Adicionar resposta</button>
        </footer>
    </section>
</dialog>